@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

nav ul li {
    list-style: none;
    
}
nav ul div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 9rem;
}
nav ul li a {
    /* position: absolute; */
    /* right: 300px;
    bottom: 100px; */
    text-decoration: none;
    color: #f9f9f9;
    font-size: 17px;
    padding: 15px;
    /* color: blue; */
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    /* text-decoration: underline;  ** sourin i dont want underline when i hover the about us ** */
    background: #fc913a;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

nav ul li a:active{
    background-color: #f47c1a;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 600;
    transition: 0.25s ease-in-out;
}

.content a:hover {
    background-color: #f68f3b;
    color: white;
    border: 2px solid #f68f3b;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}
.login-main{
    position: fixed;
    width: 360px;
    height: 500px;
    /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    overflow: hidden;
    border-radius: 10px;
    
    box-shadow: 5px 20px 50px #000;
}

.cross {
    position: absolute;
    left: 330px;
    top: 10px;
}

.cross:hover {
    font-size: 20px;
    color: red;

    cursor: pointer;
}

.hide {
    display: none;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 10px;
    background: #fff;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #fc913a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #f47c1a;
}

.login {
    height: 460px;
    /* background: #eee; */
    background-color: #E4E4E1;
 background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
    color: #fff;
    transform: scale(.6);
}

.para {
    text-align: center;
    color: black;
    padding-top: 20px;
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}

/* DONE BY JEET */

.credits {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 400px;
    width: 200PX;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 95px;
    left: 1250px;
}

#hide {
    display: none;
}



.credits ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.credits li {
    margin: 10px 0;
    font-size: 14px;
    color: #555555;
    cursor: pointer
}

;

.credits li:hover {
    color: #007BFF;
    transition: color 0.3s ease;
}


/* for blur effect */
.blurred {
    filter: blur(10px);
    transition: filter 0.3s ease;
}

/* Lays element */
.lays-elements{
    height: 500px;
    width: 100%;
    background-color: #007BFF;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: #fff;
}
/* lays background color */
.spice{
    background: rgb(222,106,33);
    background: linear-gradient(94deg, rgba(222,106,33,1) 35%, rgba(255,255,255,1) 88%);
}
.voi{
    background: rgb(255,255,255);
    background: linear-gradient(94deg, rgba(255,255,255,1) 27%, rgba(111,47,125,1) 74%);
}
.bbq{
    background: rgb(7,8,10);
    background: linear-gradient(94deg, rgba(7,8,10,1) 28%, rgba(255,255,255,1) 74%);
}
.black{
    background: rgb(255,255,255);
    background: linear-gradient(94deg, rgba(255,255,255,1) 27%, rgba(191,31,36,1) 74%);
}

.varity{
    background: rgb(255,204,0);
    background: linear-gradient(94deg, rgba(255,204,0,1) 28%, rgba(255,255,255,1) 74%);
}
/* hover eff */
.bbq .img img{
    height: 440px;
}
.bbq .img img:hover{
    height: 510px;
}
.black .img img{
    height: 400px;
}
.black .img img:hover{
    height: 470px;
}
/* div size */
.desc{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.desc h1{
    font-size:2.9rem;
    padding-bottom: 1.5rem;
}
.desc p{
    font-size: 1.4rem;
}
.img{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center
}
.img img{
    height: 350px;
    transition: 0.5s ease;
    cursor: pointer;
}
.img img:hover{
    height: 410px;
}
