/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fee600;
}

/* Header Styles */
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #fbb515;
    color: white;
    padding: 10px 20px;
}

.logo img {
    height: 90px;
}

/* Nav bar Center */
nav {
    flex: 1; /* Allow nav to take up available space */
    display: flex;
    justify-content: center; /* Center the ul inside the nav */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 1000;
}

/* Nav bar button on hover */
nav ul li a:hover {
    border-radius: 50px;
    background-color: #da281c;
}

/* Hero section */
.slider{
    width: 50%;
    height: 300px;
    position: relative;
    top:20px;
    left: 400px;
    overflow: hidden;
    

}
.slide{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
  
    
}
.g{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #d61818;
    cursor: pointer;
}
.pre{
    position: relative;
    top: -150px;
    left:250px ;
}
.post{
    position: relative;
    top: -150px;
    left :1150px;
}


.category {
    padding: 20px;
    margin: 20px 0;
}

.category h2 {
    margin: 0 0 20px 0;
    background-color: #fbb515;
    padding: 10px;
    text-align: left;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: #fbb515;
    padding: 10px;
    max-width: 100%; 
    overflow-x: hidden; 
}
/* Individual card styles */
.card {
    background-color: #fee600;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    max-width: 337px;
    height: 337px;
    object-fit: cover;
}

.card-content p {
    margin: 10px 0;
    font-weight: 1000;
    color: white;
    font-size: 22px;
}

.card button {
    background-color: #da281c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
}
#l1 button{
    margin-top: 35px;
}

/* Footer styles */
footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.card button:hover {
    background-color: #fee600;
}

.card:hover img {
    transform: scale(1.09);
}
