/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fee600;
}

/* Header Styles */
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #fbb515;
    color: white;
    padding: 1rem 2rem;
    justify-content: center;
}
/* search bar */
.box{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
}
.box:hover input{
    width: 200px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background:  transparent;
}
.logo img {
    height: 90px;
    width: 100px;
}


/* Nav bar Center */
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
}

.cart a i{
    font-size: 1.4rem;
    color: black;
}


nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
}

/* Nav bar button on hover */
nav ul li a:hover {
    border-radius: 50px;
    background-color: #da281c;
}

/* Hero section */
.slider{
    width: 95%;
    height: 600px;
    position: relative;
    top:35px;
    left:35px;
    overflow: hidden;
    

}
.slide{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
  
    
}
.g{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 35px;
   
    cursor: pointer;
}
.pre{
    position: relative;
    top: -300px;
    left:50px ;
}
.post{
    position: relative;
    top: -300px;
    left :1320px;
}


.category {
    padding: 20px;
    margin: 20px 0;
}

.category h2 {
    margin: 0 0 20px 0;
    background-color: #fbb515;
    padding: 10px;
    text-align: left;
}

.card-container {
    display: flex;
    gap: 10px;
    background-color: #fbb515;
    padding: 10px;
    max-height: 600px;
    overflow-x: auto; 
}


/* Individual card styles */
.card {
    background-color: #fee600;
    text-align: center;
    /* margin-bottom: 20px; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 520px;
    min-width: 300px;
    cursor: pointer;

}


.card img {
    width: 100%;
    max-width: 337px;
    height: 350px;
    object-fit: cover;
    transition: 0.2s ease-in;
    align-self: center;
}
.card div{
    height: 350px;
    width: 100%;
}
.card .paragraph{
    height: 43.5px;
    width: 100%;
    background: transparent;
}

.yellow{
    background-color: #de662a;
}
.bbq{
    background-color: #3d3c3a;
}
.red{
    background-color: #7d0f05;
}
.sky{
    background-color: #00a1d6;
}
.green{
    background-color: #02a35d;
}
.yellow div{
    background-image: url(/lays/ass/Cheddar-Jalapeno_0.jpg);
    background-position: center;
    background-size: cover;
}

.bbq div{
    background-image: url(/lays/ass/lays-bbq.jpg);
    background-position: center;
    background-size: cover;
}
.red div{
    background-image: url(/lays/ass/lays-ssh-2024\ 2.jpg);
    background-position: center;
    background-size: cover;
}
.sky div{
    background-image: url(/lays/ass/S&V.png);
    background-position: center;
    background-size: cover;
}
.green div{
    background-image: url(/lays/ass/sour-cream.jpg);
    background-position: center;
    background-size: cover;
}
.card a{
    margin: 0.2rem 0.5rem 1.5rem 0.5rem ;
    text-decoration: none;
    color: white;
    font-weight: 550;
}


.card p {
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-weight: 1000;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card button {
    background-color: #d9291c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    margin: 1rem 1rem 1rem 1rem;
    transition: 0.2s ease-in-out;
}
.card button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}

/* lays wavy section */
.wavy-red div{
   background-image: url(/lays/ass/lays-wavy-red.png);
    background-position: center;
    background-size: cover;
}
.wavy-red{
    background-color: #e02225;
}

.wavy-bbq div{
    background-image: url(/lays/ass/lays-wavy-bbq.png);
     background-position: center;
     background-size: cover;
 }
 .wavy-bbq{
     background-color: #870914;
 }

 .wavy-dark div{
    background-image: url(/lays/ass/lays-wavy-dark.png);
     background-position: center;
     background-size: cover;
 }
 .wavy-dark{
     background-color: #00a16e;
 }



 .wavy-sky div{
    background-image: url(/lays/ass/lays-wavy-sky.png);
     background-position: center;
     background-size: cover;
 }
 .wavy-sky{
     background-color: #aaddf0;
 }

 .wavy-white div{
    background-image: url(/lays/ass/lays-wavy-white.png);
     background-position: center;
     background-size: cover;
 }
 .wavy-white{
     background-color: #cccccc;
 }

/* doritos style */
.doritos-red div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-red{
     background-color: #a30f0f;
 }

.doritos-red div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-bbq div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-bbq{
     background-color: #313133;
 }

.doritos-bbq div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-blue div{
    background-color: black;   
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-blue{
     background-color: #274482;
 }

.doritos-blue div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-green div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-green{
     background-color: #01733c;
 }

.doritos-green div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-spicy div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-spicy{
     background-color: #7a0b30;
 }

.doritos-spicy div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-chili div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-chili{
     background-color: #91216e;
 }

.doritos-chili div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

/* pringles style */
.pringles-red div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .pringles-red{
     background-color: #f2494c;
 }

.pringles-red div img{
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.pringles-bbq div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .pringles-bbq{
     background-color: #701036;
 }

.pringles-bbq div img{
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.pringles-green div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .pringles-green{
     background-color: #42a33b;
 }

.pringles-green div img{
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.pringles-sky div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .pringles-sky{
     background-color: #11b3d4;
 }

.pringles-sky div img{
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.pringles-white div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .pringles-white{
     background-color: #979797;
 }

.pringles-white div img{
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.pringles-yellow div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .pringles-yellow{
     background-color: #f29500;
 }

.pringles-yellow div img{
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

/* try this out section */
/* doritos */
.doritos-new-red div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-new-red{
     background-color: #a30f0f;
 }

.doritos-new-red div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-new-blue div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-new-blue{
     background-color: #0064ab;
 }

.doritos-new-blue div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.doritos-new-green div{
    background-color: black;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .doritos-new-green{
     background-color: #8fb02c;
 }

.doritos-new-green div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

/* lays kettle */
.lays-kettle-red div{
    background-image: url(/lays/ass/lays-kettle-red.png);
     background-position: center;
     background-size: cover;
 }
 .lays-kettle-red{
     background-color: #870914;
 }

 .lays-kettle-green div{
    background-image: url(/lays/ass/lays-kettle-green.png);
     background-position: center;
     background-size: cover;
 }
 .lays-kettle-green{
     background-color: #74b04f;
 }

 .lays-kettle-white div{
    background-image: url(/lays/ass/lays-kettle-white.png);
     background-position: center;
     background-size: cover;
 }
 .lays-kettle-white{
     background-color: #a4abb0;
 }

 /* Ruffles */
 .ruffles-org div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .ruffles-org{
     background-color: #f2672c;
 }

.ruffles-org div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.ruffles-bbq div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .ruffles-bbq{
     background-color: #852c00;
 }

.ruffles-bbq div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.ruffles-green div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .ruffles-green{
     background-color: #01421c;
 }

.ruffles-green div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

/* sunchips */
.sunchips-orange div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .sunchips-orange{
     background-color: #d15000;
 }

.sunchips-orange div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.sunchips-green div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .sunchips-green{
     background-color: #638c41;
 }

.sunchips-green div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

/* Festive editon */
.premium-black div{
    background: linear-gradient(45deg, #000000 0%, #000000 5%,transparent 5%, transparent 10%, #000000 10%, #000000 15%,transparent 15%,transparent 20%, #000000 20%, #000000 25%,transparent 25%,transparent 30%, #000000 30%, #000000 35%,transparent 35%,transparent 40%, #000000 40%, #000000 45%,transparent 45%,transparent 50%, #000000 50%, #000000 55%,transparent 55%,transparent 60%, #000000 60%, #000000 65%,transparent 65%,transparent 70%, #000000 70%, #000000 75%,transparent 70%,transparent 80%, #000000 80%, #000000 85%,transparent 85%,transparent 90%, #000000 90%, #000000 95%,transparent 95%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .premium-black{
     background-color: #454545;
 }

.premium-black div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}


.premium-red div{
    background: linear-gradient(45deg, #611410 0%, #611410 5%,transparent 5%, transparent 10%, #611410 10%, #611410 15%,transparent 15%,transparent 20%, #611410 20%, #611410 25%,transparent 25%,transparent 30%, #611410 30%, #611410 35%,transparent 35%,transparent 40%, #611410 40%, #611410 45%,transparent 45%,transparent 50%, #611410 50%, #611410 55%,transparent 55%,transparent 60%, #611410 60%, #611410 65%,transparent 65%,transparent 70%, #611410 70%, #611410 75%,transparent 70%,transparent 80%, #611410 80%, #611410 85%,transparent 85%,transparent 90%, #611410 90%, #611410 95%,transparent 95%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .premium-red{
     background-color: #96141a;
 }

.premium-red div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}


.premium-kfc div{
    background: linear-gradient(45deg, #ED1E1A 0%, #ED1E1A 5%,transparent 5%, transparent 10%, #ED1E1A 10%, #ED1E1A 15%,transparent 15%,transparent 20%, #ED1E1A 20%, #ED1E1A 25%,transparent 25%,transparent 30%, #ED1E1A 30%, #ED1E1A 35%,transparent 35%,transparent 40%, #ED1E1A 40%, #ED1E1A 45%,transparent 45%,transparent 50%, #ED1E1A 50%, #ED1E1A 55%,transparent 55%,transparent 60%, #ED1E1A 60%, #ED1E1A 65%,transparent 65%,transparent 70%, #ED1E1A 70%, #ED1E1A 75%,transparent 70%,transparent 80%, #ED1E1A 80%, #ED1E1A 85%,transparent 85%,transparent 90%, #ED1E1A 90%, #ED1E1A 95%,transparent 95%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .premium-kfc{
     background-color: #911f09;
 }

.premium-kfc div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.premium-doritos div{
    background: linear-gradient(45deg, #FADF7F 0%, #FADF7F 5%,transparent 5%, transparent 10%, #FADF7F 10%, #FADF7F 15%,transparent 15%,transparent 20%, #FADF7F 20%, #FADF7F 25%,transparent 25%,transparent 30%, #FADF7F 30%, #FADF7F 35%,transparent 35%,transparent 40%, #FADF7F 40%, #FADF7F 45%,transparent 45%,transparent 50%, #FADF7F 50%, #FADF7F 55%,transparent 55%,transparent 60%, #FADF7F 60%, #FADF7F 65%,transparent 65%,transparent 70%, #FADF7F 70%, #FADF7F 75%,transparent 70%,transparent 80%, #FADF7F 80%, #FADF7F 85%,transparent 85%,transparent 90%, #FADF7F 90%, #FADF7F 95%,transparent 95%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .premium-doritos{
     background-color: #cca300;
 }

.premium-doritos div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}


.premium-pringles1 div{
    background: linear-gradient(45deg, #87051B 0%, #87051B 5%,transparent 5%, transparent 10%, #87051B 10%, #87051B 15%,transparent 15%,transparent 20%, #87051B 20%, #87051B 25%,transparent 25%,transparent 30%, #87051B 30%, #87051B 35%,transparent 35%,transparent 40%, #87051B 40%, #87051B 45%,transparent 45%,transparent 50%, #87051B 50%, #87051B 55%,transparent 55%,transparent 60%, #87051B 60%, #87051B 65%,transparent 65%,transparent 70%, #87051B 70%, #87051B 75%,transparent 70%,transparent 80%, #87051B 80%, #87051B 85%,transparent 85%,transparent 90%, #87051B 90%, #87051B 95%,transparent 95%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .premium-pringles1{
     background-color: #cc2d45;
 }

.premium-pringles1 div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

.premium-pringles2 div{
    background: linear-gradient(45deg, #506070 0%, #506070 5%,transparent 5%, transparent 10%, #506070 10%, #506070 15%,transparent 15%,transparent 20%, #506070 20%, #506070 25%,transparent 25%,transparent 30%, #506070 30%, #506070 35%,transparent 35%,transparent 40%, #506070 40%, #506070 45%,transparent 45%,transparent 50%, #506070 50%, #506070 55%,transparent 55%,transparent 60%, #506070 60%, #506070 65%,transparent 65%,transparent 70%, #506070 70%, #506070 75%,transparent 70%,transparent 80%, #506070 80%, #506070 85%,transparent 85%,transparent 90%, #506070 90%, #506070 95%,transparent 95%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1;
    opacity: 1;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .premium-pringles2{
     background-color: #233745;
 }

.premium-pringles2 div img{
  max-height: 280px;
  max-width: 280px;
  height: auto;
  width: auto;
}

/* Mega packs */
.pack-lays1 div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pack-lays1{
     background-color: #ffc20a;
 }

.pack-lays1 div img{
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
}

.pack-lays2 div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pack-lays2{
     background-color: #ff221f;
 }

.pack-lays2 div img{
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
}

.pack-doritos1 div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pack-doritos1{
     background-color: #bf1b1b;
 }

.pack-doritos1 div img{
  max-height: 260px;
  max-width: 260px;
  height: auto;
  width: auto;
}

.pack-doritos2 div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pack-doritos2{
     background-color: #000005;
 }

.pack-doritos2 div img{
  max-height: 260px;
  max-width: 260px;
  height: auto;
  width: auto;
}


.pack-pringles div{
    background-color: #fff;
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pack-pringles{
     background-color: #c7243c;
 }

.pack-pringles div img{
  max-height: 260px;
  max-width: 260px;
  height: auto;
  width: auto;
}
/* Footer styles */

.footer{
    height: 220px;
    width: 100%;
    background: rgb(244,124,26);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-1st{
    height: 55%;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cmt{
    margin: 0
}
.cmt p{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.social-media span{
    margin: 0 1rem 0 1rem;
    height: 3rem;
    width: 3rem;
}
.social-media a i{
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
}
.social-media a i:hover{
    color: #449453;
}
.footer-2nd{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f68f3b;
}
.footer-2nd div{
    display: flex;
    align-items: center;
}
.footer-2nd div ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.footer-2nd div ul li{
    padding-left: 3rem;
}
.footer-2nd div ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}
.footer-2nd div ul li a:hover{
   font-size: 1.2rem;
}
/* efficts */
.card button:hover {
    background-color: #ffe312;
    color: black;
}


.card:hover img {
    transform: scale(1.09);
}
.card-container::-webkit-scrollbar{
    width: 15px;
}
.card-container::-webkit-scrollbar-track{
   background: #d1e5d1;
}
.card-container::-webkit-scrollbar-thumb{
    background: #de662a;
 }
 