@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fee600;
}

/* Header Styles */
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #fbb515;
    color: white;
    padding: 1rem 2rem;
    justify-content: center;
}
/* search bar */
.box{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
}
.box:hover input{
    width: 200px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background:  transparent;
}
.logo img {
    height: 90px;
    width: 100px;
}


/* Nav bar Center */
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
}

.cart a i{
    font-size: 1.4rem;
    color: black;
}


nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
}

/* Nav bar button on hover */
nav ul li a:hover {
    border-radius: 50px;
    background-color: #da281c;
}