header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #fbb515;
    color: white;
    padding: 1rem 2rem;
    justify-content: center;
}
/* search bar */
.box{
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
}
.box:hover input{
    width: 200px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background:  transparent;
}
.logo img {
    height: 90px;
    width: 100px;
}


/* Nav bar Center */
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
}

.cart a i{
    font-size: 1.4rem;
    color: black;
}
.cart .counter {
    position: relative;
    top: -17px;
    right: 8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.hide{
    display: none;
}


nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem 1rem;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
}

/* Nav bar button on hover */
nav ul li a:hover {
    border-radius: 50px;
    background-color: #da281c;
}

.footer{
    height: 220px;
    width: 100%;
    background: rgb(244,124,26);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-1st{
    height: 55%;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cmt{
    margin: 1rem 0 1.5rem 0;
}
.cmt p{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.social-media span{
    margin: 0 1rem 0 1rem;
    height: 3rem;
    width: 3rem;
}
.social-media a i{
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
}
.social-media a i:hover{
    color: #449453;
}
.footer-2nd{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f68f3b;
}
.footer-2nd div{
    display: flex;
    align-items: center;
}
.footer-2nd div ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.footer-2nd div ul li{
    padding-left: 3rem;
}
.footer-2nd div ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}
.footer-2nd div ul li a:hover{
   font-size: 1.2rem;
}